.simple-btn {
    background-color: #4fd9ffd2;
    width: 200px;
    color: white;
    border: none;
    padding: 14px 26px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .simple-btn:hover {
    background-color: #0056b3;
  }
  .simple-btn-red{
    width: 440px;
    background-color: #ff4f4fd2;
    color: white;
    border: none;
    padding: 14px 26px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .simple-btn-red:hover {
    background-color: #b30000;
  }