.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  
}

.section-header h2 {
  margin: 0;
  font-size: 30px;
}

.date-filter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.datepicker-container {
  position: relative;
  display: flex;
  align-items: center;
}

.date-input {
  padding: 6px 10px 6px 30px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.calendar-icon {
  position: absolute;
  left: 8px;
  color: #888;
  pointer-events: none;
}

/* Custom popup calendar */
.custom-calendar {
  border-radius: 10px !important;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  padding: 8px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
}

/* Selected date */
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #007bff !important;
  color: white;
  border-radius: 50% !important;
}

/* Hover effect */
.react-datepicker__day:hover {
  background-color: #cce4ff !important;
  border-radius: 50% !important;
}
